
<section class="kapi-story-section">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <!-- Left Side: Coffee Picker -->
            <div class="col-lg-6">
                <img src="/static/main/images/home/story-picker.webp" alt="Coffee Picker in Western Ghats" class="img-fluid w-100 h-100 object-fit-cover" style="min-height: 400px;">
            </div>
            <!-- Right Side: India Map Infographic -->
            <div class="col-lg-6 bg-light d-flex align-items-center justify-content-center">
                <img src="/static/main/images/home/india-map.webp" alt="Coffee Regions Map of India" class="img-fluid w-100 h-100 object-fit-cover" style="min-height: 400px;">
            </div>
        </div>
    </div>
</section>
