{% extends "dash/base.html" %}
{% block 'title' %}Editors List{% endblock 'title' %}
{% block 'css' %}{% endblock 'css' %}
{% block 'body' %}
<div class="container-fluid">
    <div class="py-3 d-flex align-items-sm-center flex-sm-row flex-column">
        <div class="flex-grow-1">
            <h4 class="fs-18 fw-semibold m-0">Editors</h4> 
        </div>
        <a aria-label="Add Editor" class="btn btn-sm bg-primary-subtle" data-bs-toggle="tooltip" data-bs-original-title="Add Editor" href="/dash/add_editor">Add Editor</a>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table datatable" id="datatable_1">
                            <thead>
                              <tr>
                                <th>Editor</th>
                                <th>Role</th>
                                <th>Status</th>
                                <th>Articles</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for i in editors %}
                                <tr>
                                    <td class="ps-0">
                                        <img src="/media/{{i.image}}" alt="{{i.name}}" style="height: 20px; width: 20px; border-radius: 50%;">
                                        <p class="d-inline-block align-middle mb-0">
                                            <span>{{i.name}}</span> 
                                        </p>
                                    </td>
                                    <td>
                                        <p class="d-inline-block align-middle mb-0">
                                            <span>{{i.designation}}</span> 
                                        </p>
                                    </td>
                                    {% if i.status == "Pending" %}
                                    <td>
                                        <span class="badge bg-warning-subtle text-warning">Pending</span>
                                    </td>
                                    {% elif i.status == "Resolved" %}
                                    <td>
                                        <span class="badge bg-warning-subtle text-success">In-Progress</span>
                                    </td>
                                    {% endif %}
                                    
                                    <td>
                                        <a aria-label="anchor" class="btn btn-sm bg-primary-subtle me-1" data-bs-toggle="tooltip" data-bs-original-title="View Details" href="/profile/{{i.id}}">
                                            View Profile
                                        </a>
                                    </td>
                                    <td>{{i.created_at}}</td>
                                    {% if i.status == "Enabled" %}
                                    <td>
                                        <a aria-label="anchor" class="btn btn-sm bg-primary-subtle" data-bs-toggle="tooltip" data-bs-original-title="Disable Editor" href="/dash/disable_editor/{{i.id}}">Disable</a>
                                        <a aria-label="anchor" class="btn btn-sm bg-danger-subtle" data-bs-toggle="tooltip" data-bs-original-title="Delete Editor" href="/dash/delete_editor/{{i.id}}">Delete</a>
                                    </td>
                                    {% elif i.status == "Disabled" %}
                                    <td>
                                        <a aria-label="anchor" class="btn btn-sm bg-primary-subtle" data-bs-toggle="tooltip" data-bs-original-title="Enable Editor" href="/dash/enable_editor/{{i.id}}">Enable</a>
                                        <a aria-label="anchor" class="btn btn-sm bg-danger-subtle" data-bs-toggle="tooltip" data-bs-original-title="Delete Editor" href="/dash/delete_editor/{{i.id}}">Delete</a>
                                    </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock 'body' %}
{% block 'script' %}{% endblock 'script' %}